<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<h1>Evaluation results</h1>
<ul>
{% for er in all_objects.all %}
    <li>Evaluation Course: {{ er.evaluation.course }}
        Question: {{ er.question_number }}, Answer: {{ er.answer_number }}, hits: {{ er.hits }}</li>
{% endfor %}
</ul>
</body>
</html>